<h2>Output</h2>
<p class="message">
  Thank you submitting your meal preference!
</p>
<p>
  <span class="label">Your Name:</span> {{userPreference.userName}}
</p>
<p>
  <span class="label">Your Meal Preference:</span> {{userPreference.mealChoice}}
</p>
<p>
  <span class="label">Spicy Option:</span> {{userPreference.notSpicy?"Not Spicy":"Spicy"}}
</p>
<p>
  <span class="label">Portion Size: </span>
  @switch (userPreference.portionSize) {
    @case(PortionSize.SMALL) { Small }
    @case(PortionSize.MEDIUM) { Medium }
    @case(PortionSize.LARGE) { Large }
  }
</p>
<a routerLink="/input">Back to Input</a>

