<h2>Input</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <p>
    <label>Your Name: <input type="text" formControlName="userName"></label>
    @if(form.get('userName')?.invalid && form.get('userName')?.touched){
      <span class="error"> &larr; required</span>
    }
  </p>
  <p>
    <label><input type="radio"
                  formControlName="mealChoice" [value]="MealChoice.CHICKEN"> Chicken</label><br>
    <label><input type="radio"
                  formControlName="mealChoice" [value]="MealChoice.FISH"> Fish</label><br>
    <label><input type="radio"
                  formControlName="mealChoice" [value]="MealChoice.VEGETARIAN"> Vegetarian</label>
  </p>
  <label><input type="checkbox" formControlName="notSpicy"> Not Spicy</label>
  <p>
    <label>Portion Size: </label>
    <select formControlName="portionSize">
      <option [ngValue]="1">Small</option>
      <option [ngValue]="2">Medium</option>
      <option [ngValue]="3">Large</option>
    </select>
  </p>
  <p>
    <button type="submit" [disabled]="form.invalid">Submit</button>
  </p>
</form>

<h3>You Entered</h3>
<p>
  Your Name: {{form.value['userName']}}<br>
  Your Meal Choice: {{form.value['mealChoice']}}<br>
  Not Spicy: {{form.value['notSpicy']}}<br>
  Portion Size: {{form.value['portionSize']}},
  @switch (form.value['portionSize']){
    @case (1) { Small }
    @case (2) { Medium }
    @case (3) { Large }
    @case ('3') {
      Super
    }
  }<br>
  Input is valid: {{form.valid}}
</p>

