<h2>Input</h2>

<form (ngSubmit)="onSubmit()" #myForm="ngForm">
  <p>
    <label>Your Name: <input type="text" name="userName" #name="ngModel"
                             [(ngModel)]="userPreference.userName" required pattern="(.|\s)*\S(.|\s)*"></label>
    @if(name.invalid && name.touched){
      <span class="error"> &larr; required</span>
    }
  </p>
  <p>
    <label><input type="radio" name="choice"
                  [value]="MealChoice.CHICKEN"
                  [(ngModel)]="userPreference.mealChoice"> Chicken</label><br>
    <label><input type="radio" name="choice"
                  [value]="MealChoice.FISH"
                  [(ngModel)]="userPreference.mealChoice"> Fish</label><br>
    <label><input type="radio" name="choice"
                  [value]="MealChoice.VEGETARIAN"
                  [(ngModel)]="userPreference.mealChoice"> Vegetarian</label>
  </p>
  <p>
    <label><input type="checkbox" name="notSpicy" [(ngModel)]="userPreference.notSpicy"> Not Spicy</label>
  </p>
  <p>
    <label>Portion Size: </label>
    <select name="portion" [(ngModel)]="userPreference.portionSize">
      <option [ngValue]="PortionSize.SMALL">Small</option>
      <option [ngValue]="PortionSize.MEDIUM">Medium</option>
      <option [ngValue]="PortionSize.LARGE">Large</option>
    </select>
  </p>
  <p>
    <button type="submit" [disabled]="myForm.form.invalid">Submit</button>
  </p>
</form>

<h3>You Entered</h3>
<p>
  User Name: {{userPreference.userName}}<br>
  User Meal Choice: {{userPreference.mealChoice}}<br>
  Not Spicy: {{userPreference.notSpicy}}<br>
  Portion Size: {{userPreference.portionSize}},
  @switch (userPreference.portionSize) {
    @case(PortionSize.SMALL) { Small }
    @case(PortionSize.MEDIUM) { Medium }
    @case(PortionSize.LARGE) { Large }
  }
  <br>
  The Input is Valid: {{myForm.form.valid}}
</p>

